# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example
.env.local
.vercel/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# foundry
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/

# local data (sqlite)
.data/
*.db
*.db-shm
*.db-wal

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
*.pem
.vercel
